.caja {
    border: 2px solid black;
    background-image: url("https://img.freepik.com/foto-gratis/marco-papel-colores_23-2148514721.jpg?w=996&t=st=1678708202~exp=1678708802~hmac=33605309566f697beada8094b1c8f94b97a15a63f89045ab911d9ac5bf284368");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formulario{
    border: 3px solid rgb(59, 78, 141);
    background-color: rgb(211, 106, 106);
    border-radius: 20px;
    height: 20%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    backdrop-filter: blur(20px);
}
.caja2{
    /* border: 2px solid black; */
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.name{
    background-color: rgb(234, 240, 245);
    border-radius: 5px;
    display: flex;
    width: 80%;
    font-size:medium;
}
.boton{
    /* border: 2px solid black; */
    background-color: rgb(132, 195, 231);
    border-radius: 5px;
    height: 30%;
    width: 30%;
    margin: 15px;
}